<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akikomi">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".South5Activity"></activity>
        <activity android:name=".South4Activity" />
        <activity android:name=".South3Activity" />
        <activity android:name=".South2Activity" />
        <activity android:name=".West4Activity" />
        <activity android:name=".West3Activity" />
        <activity android:name=".West2Activity" />
        <activity android:name=".North4Activity" />
        <activity android:name=".North3Activity" />
        <activity android:name=".North2Activity" />
        <activity android:name=".E2KisoActivity" />
        <activity android:name=".E2SinriActivity" />
        <activity android:name=".East4Activity" />
        <activity android:name=".East3Activity" />
        <activity android:name=".East2Activity" />
        <activity android:name=".E1HouzinActivity" />
        <activity android:name=".EHokenActivity" />
        <activity android:name=".ESoumuActivity" />
        <activity android:name=".EGakuseisien" />
        <activity android:name=".NorthActivity" />
        <activity android:name=".SouthActivity" />
        <activity android:name=".WestActivity" />
        <activity android:name=".EastActivity" />
        <activity android:name=".LogUpActivity" />
        <activity android:name=".PrivacyActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>